@import url('https://fonts.googleapis.com/css2?family=Cormorant+SC:wght@400;500;700&display=swap');


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html {
    min-height: 100%;
    position: relative;
}
body {
    background-color: white;
    font-family: 'Cormorant SC', serif;
}
header {
    
    background: #E1C3B5;
    padding: 20px;
    

}
header > h1 {
    color:white;
    text-align: center;
    

}

.result > p {
    text-align: center;
    padding:20px;
    font-size: 30px;
    font-weight: bold;
}


/*Styling user board*/
.user > h2 {
    padding: 10px;
}
.user > button {
    padding: 5px;

}
.user  {
    text-align: center;
    padding-top: 2%;
}


.user-board {
    float: left;
    padding-left: 25%;
    width: 50%;
    height: 400px;
}
.user-board > h3 {
    margin: 20px 0 20px 55px;

}
/*styling computer board*/

.com-board {
    float: right;
    width: 50%;
    padding-left: 10%;
    

}
.com-board > h3 {
    margin: 20px 0 20px 65px;
   

}


#computer-image,#user-image {
    width: 150px;
    height:150px;
    padding: 30px;
    border-style: solid;
    border-color:#ccc;
    border-width: 1px;
    border-radius: 50%;
    margin: 0 auto;
}


footer {
    
    position:absolute;
    bottom:0;
    left: 0;
    width:100%;
    min-height: 80px;   
    box-sizing: border-box;
    background:#E1C3B5;
    text-align: center;
    
 }
 
 footer > ul {
    color: white;
    font-weight: bold;
   
 }
   
    

/** media queries for screens of width between 280px and 713px*/
@media screen and (min-width: 280px) and (max-width: 713px){
    header{
        padding: 10px;
        width: 100%;
    }
   
    #computer-image,#user-image {
        width: 150px;
        height:150px;
        padding: 30px;
        border-style: solid;
        border-color:#ccc;
        border-width: 1px;
        border-radius: 50%;
        margin: 0 auto;
    }
   
    .score {
        
        font-size: medium;
    }
    
    .user-board > h3 {
        margin: 20px 0px 20px 30px;
        width: 70%;
       
    
    }
    .user-board {
        padding-left: 10px;
    }
    .com-board > h3 {
        
        width: 70%;
        margin: 20px 15px 20px 40px;
        
        
    
    }
   footer {
    height: 80px;
   }
   footer > li {
    font-size: small;
   }
 
    
    
    
}
